.post-title-desc {
    text-align: center;
}

.post-title {
    font-size: 28px;
}

.post-desc {
    font-size: 18px;
    font-weight: 500;
    color: #767676;
    padding: 0px 12px;
}

.desc-title {
    padding: 14px 10px;
    font-size: 16px;
    font-weight: 600;
}

.desc-sub {
    font-size: 14px;
    color: #767676;
    margin-top: 8px;
}