
* {
    box-sizing: border-box;
}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    /* Pretendard 폰트 */

    background-color: #F8F8FA;
    padding-top: 60px;
    /* 헤더랑 바디 겹치는거 방지 */

}

@font-face {
    font-family: 'HSSaemaul-Regular';
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    /* 제목 폰트 */
}

#header {
    z-index: 9999;
    background-color: #bffbdc;
    position: fixed;

    top: 0;
    right: 0;
    left: 0;
    width: 100%;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

#header li {
    font-size: 1.18rem;
    font-weight: 600;
    color: #767676;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
}

header h1 {
    margin: 0;
    color: #6d36f9;
    font-family: 'HSSaemaul-Regular';

}

.navbar {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;

}

ul {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    display: inline-block;
    margin-left: 24px;
}

a {
    text-decoration: none;
    color: inherit;
}

#footer {
    clear: both;
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #dbdbdb;
    color: #767676;
    font-size: 14px;
}

.container-box {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);

    margin-top: 20px;
    padding: 21px 18px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.content-title {
    font-size: 22px;
}

p.content-desc {
    margin: 6px 0 12px;
    color: #767676;
    font-weight: 600;
    font-size: 16px;
}

div.gallery {
    border: 1px solid #dbdbdb;
    border-radius: 12px;
    overflow: hidden;
    /* hidden 안하면 border-radious가 적용 안됨 */
}

div.gallery img {
    width: 100% !important;
    height: 220px;
    object-fit: cover;
    transition: transform 0.5s ease;
    /* object-fit:cover 하면 이미지 해상도 안망가짐 */
}

div.gallery img:hover {
    transform: scale(1.1);
}

div.gallery-desc {
    padding: 15px;
    font-weight: 500;
}

.responsive {
    position: relative;
    padding: 6px 12px 0 0;
    float: left;
    width: 24.99999%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.content-box {
    position: relative;
    z-index: 0;
    overflow: hidden;
    border-radius: 12px;
    /* overflow hidden 설정 하고 img에서 margin-bottom 마이너스
하면 이미지 자를 수 있음*/
}

.content-img img {
    width: 100%;
    margin-top: -5%;
    margin-bottom: -20%;

}

.tag-link {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    padding: 12px 20px;
    border-radius: 24px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 24px 12px;
    cursor: pointer;

    font-weight: 700;
    font-size: 0.92rem;
}

.tag-link:hover {
    background-color: #6d36f9ad;
    color: white;
}

.tag {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 8px 16px;
    border-radius: 24px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px 12px;
    cursor: pointer;
    z-index: 2;

    font-weight: 700;
    font-size: 0.85rem;
    color: white;
}

.ga-link:hover {
    background-color: rgba(59, 59, 59, 0.568);
}

.title-and-desc {
    margin-left: 8px;

}

/* 아이패드 프로 기준 */
@media screen and (max-width: 1024px) {



    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }

    .container-box {
        margin-left: 24px;
        margin-right: 24px;
    }

}

/* 아이폰 14 프로맥스 기준 */
@media screen and (max-width: 430px) {
    body {
        padding-top: 108px;
    }

    header {
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    header h1 {
        margin: 0;
        text-align: center;
    }

    .navbar {
        width: 100%;
        padding: 0;
        margin-top: 10px;
        text-align: center;
    }

    ul {
        display: block;
        width: 100%;
        padding: 0;
    }

    ul li {
        padding: 10px 0;
        margin-left: 4px;
        margin-right: 8px;
    }

    .responsive {
        width: 49.98%;
    }

    div.gallery img {
        height: 150px;
    }

    .content-img {
        height: 200px;
    }

    .content-title {
        font-size: 1.3rem;
    }

    .content-desc {
        font-size: 0.9rem;

    }

}
